@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap");
:root {
  --color-primary: rgba(25, 132, 155, 1);
  --color-wrapper: rgba(39, 42, 47, 1);
  --color-text: rgba(255, 255, 255, 1);
}

body, html {
  margin: 0;
  padding: 0;
}

.wrapper {
  width: 100%;
  height: 100%;
  background: var(--color-wrapper);
}

.wrapper .header {
  height: 58px;
  background: var(--color-primary);
  margin-bottom: 51px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.wrapper .header__text {
  text-transform: uppercase;
  font-family: Ubuntu;
  font-style: normal;
  font-weight: bold;
  font-size: 30;
  line-height: 34;
  letter-spacing: 0.01em;
  color: var(--color-text);
}

.wrapper .main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 105px;
}

.wrapper .main .section1 {
  max-width: 1038.07px;
  height: 355px;
  gap: 65px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.wrapper .main .section1 .img {
  width: 411px;
  height: 355px;
  overflow: hidden;
}

.wrapper .main .section1 .info {
  max-width: 559.07px;
  height: 100%;
  gap: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.wrapper .main .section1 .info__one {
  border-bottom: 4px solid var(--color-primary);
  padding-bottom: 15px;
  font-family: Ubuntu;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 34px;
  letter-spacing: 0.01em;
  color: var(--color-text);
}

.wrapper .main .section1 .info__two {
  margin-top: -15px;
  font-family: Ubuntu;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.01em;
  color: var(--color-text);
}

.wrapper .main .section1 .info__tree {
  font-family: Ubuntu;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  letter-spacing: 0.01em;
  color: var(--color-text);
}

.wrapper .main .section1 .info .btn {
  width: 293px;
  height: 50px;
  border: 2px solid #FFFFFF;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: none;
  font-family: Ubuntu;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  letter-spacing: 0.01em;
  color: var(--color-text);
}

.wrapper .main .section1 .info .btn:hover {
  background: var(--color-primary);
}

@media (max-width: 1200px) {
  .wrapper .main .section1 {
    max-width: 776px;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .wrapper .main .section1 .img {
    width: 762px;
    height: 355px;
  }
  .wrapper .main .section1 .img img {
    width: 762px;
    height: 355px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .wrapper .main .section1 .info {
    max-width: 766px;
  }
}

@media (max-width: 745px) {
  .wrapper .main .section1 {
    max-width: 776px;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .wrapper .main .section1 .img {
    width: 341px;
    height: 355px;
  }
  .wrapper .main .section1 .img img {
    width: 341px;
    height: 355px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .wrapper .main .section1 .info {
    max-width: 341px;
  }
}

.wrapper .main .section2 {
  max-width: 1038px;
  height: 615.82px;
  margin-bottom: 100px;
}

.wrapper .main .section2 .portfolio {
  margin-bottom: 15px;
  font-family: Ubuntu;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.01em;
  color: var(--color-text);
}

.wrapper .main .section2 .text {
  margin-bottom: 28px;
  font-family: Ubuntu;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  letter-spacing: 0.01em;
  color: var(--color-text);
}

.wrapper .main .section2 .gallery {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  gap: 20.35px;
}

.wrapper .main .section2 .gallery .foto {
  width: 244.24px;
  height: 244.24px;
  background: #C4C4C4;
}

@media (max-width: 1200px) {
  .wrapper .main .section2 {
    max-width: 776px;
    height: 482px;
  }
  .wrapper .main .section2 .gallery .foto {
    width: 180px;
    height: 180px;
  }
  .wrapper .main .section2 .gallery .foto img {
    width: 180px;
    height: 180px;
    -o-object-fit: cover;
       object-fit: cover;
  }
}

@media (max-width: 745px) {
  .wrapper .main .section2 {
    max-width: 345px;
    height: 869px;
  }
  .wrapper .main .section2 .gallery {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
  .wrapper .main .section2 .gallery .foto {
    width: 165px;
    height: 165px;
  }
  .wrapper .main .section2 .gallery .foto img {
    width: 165px;
    height: 165px;
    -o-object-fit: cover;
       object-fit: cover;
  }
}

.wrapper .footer {
  height: 205px;
  background: var(--color-primary);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.wrapper .footer .contact {
  margin-top: 42px;
  gap: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.wrapper .footer .contact .ava {
  width: 94px;
  height: 94px;
  border-radius: 50%;
  overflow: hidden;
}

.wrapper .footer .contact__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 6px;
}

.wrapper .footer .contact__info-name {
  font-family: Ubuntu;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 25px;
  letter-spacing: 0.01em;
  color: var(--color-text);
}

.wrapper .footer .contact__info-namber {
  font-family: Ubuntu;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.01em;
  color: var(--color-text);
}

.wrapper .footer .contact__info-address {
  font-family: Ubuntu;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  letter-spacing: 0.01em;
  color: var(--color-text);
}

.wrapper .footer__save {
  width: 100%;
  height: 44px;
  background: #16758a;
  font-family: Ubuntu;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  letter-spacing: 0.01em;
  color: var(--color-text);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
/*# sourceMappingURL=style.css.map */