:root {
    --color-primary: rgba(25, 132, 155, 1);
    --color-wrapper: rgba(39, 42, 47, 1);
    --color-text: rgba(255, 255, 255, 1);
  };

@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap');
body,html{
margin: 0;
padding: 0;
}
@mixin ubuntu ($size, $lh, $weight:normal, $style:normal){
    font-family: Ubuntu;
    font-style: normal;
    font-weight: $weight;
    font-size: $size;
    line-height: $lh;
    letter-spacing: 0.01em;
    color: var(--color-text);
}

@mixin flexBox($jc:space-between, $ai:center, $fd:row) {
    display: flex;
    justify-content: $jc;
    align-items: $ai;
    flex-direction: $fd;
}
.wrapper {
    width: 100%;
    height: 100%;
    background: var(--color-wrapper);
    .header {
        height: 58px;
        background: var(--color-primary);
        margin-bottom: 51px;
        @include flexBox(center,center);
        &__text{
            text-transform: uppercase;
            @include ubuntu(30, 34, bold);
        }
    }
    .main {
        @include flexBox(center,center,column);
        gap: 105px;
        .section1 {
            max-width: 1038.07px;
            height: 355px;
            gap: 65px;
            @include flexBox(space-between,center);
            .img {
                width: 411px;
                height: 355px;
                overflow: hidden;
            }
            .info {
                max-width: 559.07px;
                height: 100%;
                gap: 30px;
                @include flexBox(space-around, flex-start, column);
                &__one {
                    border-bottom: 4px solid var(--color-primary);
                    padding-bottom: 15px;
                    @include ubuntu(30px, 34px)
                }
                &__two {
                    margin-top: -15px;
                    @include ubuntu(24px, 28px, bold)
                }
                &__tree {
                    @include ubuntu(16px, 18px)
                }
                .btn {
                    width: 293px;
                    height: 50px;
                    border: 2px solid #FFFFFF;
                    box-sizing: border-box;
                    background: none;
                    @include ubuntu(16px, 18px)
                }
                .btn:hover{
                    background: var(--color-primary);
                }
            }
        }
        @media (max-width: 1200px) { 
            .section1{
                max-width: 776px;
                height: 100%;
                @include flexBox(space-between,center,column);
                .img{
                    width: 762px;
                    height: 355px;
                    img{
                        width: 762px;
                        height: 355px;
                        object-fit: cover;
                    }
                }
                .info{
                    max-width: 766px;
                }
            }
        }
        @media (max-width: 745px) { 
            .section1{
                max-width: 776px;
                height: 100%;
                @include flexBox(space-between,center,column);
                .img{
                    width: 341px;
                    height: 355px;
                    img{
                        width: 341px;
                        height: 355px;
                        object-fit: cover;
                    }
                }
                .info{
                    max-width: 341px;
                }
            }
        }
        .section2 {
            max-width: 1038px;
            height: 615.82px;
            margin-bottom: 100px;
            .portfolio {
                margin-bottom: 15px;
                @include ubuntu(24px, 28px, bold)
            }
            .text {
                margin-bottom: 28px;
                @include ubuntu(16px, 18px)
            }
            .gallery {
                display: grid;
                grid-template-columns: repeat(4, 1fr);
                gap: 20.35px;
                .foto {
                    width: 244.24px;
                    height: 244.24px;
                    background: #C4C4C4;
                }
            }
        }
        @media (max-width: 1200px) {
            .section2{
                max-width: 776px;
                height: 482px;
                .gallery{
                    .foto {
                        width: 180px;
                        height: 180px;
                        img{
                            width: 180px;
                            height: 180px;
                            object-fit: cover;
                        }
                    }
                }
            }
        }
        @media (max-width: 745px) {
            .section2{
                max-width: 345px;
                height: 869px;
                .gallery{
                    grid-template-columns: repeat(2, 1fr);
                    .foto {
                        width: 165px;
                        height: 165px;
                        img{
                            width: 165px;
                            height: 165px;
                            object-fit: cover;
                        }
                    }
                }
            }
        }
    }
    .footer {
        height: 205px;
        background: var(--color-primary);
        @include flexBox(space-between,center,column);
        .contact {
            margin-top: 42px;
            gap: 35px;
            @include flexBox(center,center,row);
            .ava {
                width: 94px;
                height: 94px;
                border-radius: 50%;
                overflow: hidden;
            }
            &__info {
                @include flexBox(center,flex-start,column);
                gap: 6px;
                &-name {
                    @include ubuntu(22px, 25px, bold);
                }
                &-namber {
                    @include ubuntu(18px, 21px);
                }
                &-address {
                    @include ubuntu(16px, 18px);
                }
            }
        }
        &__save {
            width: 100%;
            height: 44px;
            background: rgba(22, 117, 138, 1);
            @include ubuntu(16px, 18px);
            @include flexBox(center,center)
        }
    }
}
.modal {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.479);
    top: 0;
    left: 0;
    visibility: hidden;
    opacity: 0;
    .modal__body {
        min-height: 100%;
        @include flexBox( center, center);
        .modal__content {
            max-width: 606px;
            height: 536px;
            background: var(--color-wrapper);
            padding: 50px;
            @media (max-width: 745px){
                max-width: 400px;
                height: 600px;
            }
            .modal__content-title {
                margin-bottom: 15px;
                @include ubuntu(24px, 28px, bold);
            }
            .modal__content-text {
                width: 567.77px;
                height: 54px;
                margin-bottom: 26px;
                @include ubuntu(16px, 18px);
                @media (max-width: 745px){
                    width: 300px;
                    height: 80px;
                }
            }
            
            .modal__content-form {
                .textEmail{
                    width: 569px;
                    @include flexBox(space-between,center);
                    @media (max-width: 745px){
                        width: 400px;
                        flex-direction: column;
                    }
                    .name, .email {
                        width: 200px;
                        height: 50px;
                        padding-left: 16px;
                        background: rgba(50, 75, 83, 1);
                        @include ubuntu(16px, 50px, 300);
                        border: none;
                        margin-right: 20px;
                        margin-bottom: 20px;
                        @media (max-width: 745px){
                            width: 400px;
                            margin-right: 0px;
                        }
                    }
                    .email{
                        width: 347px;
                        margin-right: 0px;
                        @media (max-width: 745px){
                            width: 400px;
                        }
                    }
                }
                .textarea{
                    width: 567px;
                    height: 219px;
                    background: rgba(50, 75, 83, 1);
                    border: none;
                    resize: none;
                    margin-bottom: 26px;
                    @include ubuntu(16px, 18px, 300);
                    @media (max-width: 745px){
                        width: 400px;
                        padding-left: 16px;
                    }
                }
                .modal__btn {
                    width: 217px;
                    height: 50px;
                    border: 2px solid #FFFFFF;
                    box-sizing: border-box;
                    background: none;
                    @include ubuntu(18px, 20px, bold);
                    letter-spacing: 1.5px;
                    text-transform: uppercase;
                }
            }
        }
    }
}
.modal_active{
    visibility: visible;
    opacity: 5;
}