@mixin ubuntu ($size, $lh, $weight:normal, $style:normal) {
  font-family: Ubuntu;
  font-style: normal;
  font-weight: $weight;
  font-size: $size;
  line-height: $lh;
  letter-spacing: 0.01em;
  color: var(--color-text);
}

@mixin flexBox($jc:space-between, $ai:center, $fd:row) {
  display: flex;
  justify-content: $jc;
  align-items: $ai;
  flex-direction: $fd;
}